---
import PokemonTable from '@components/PokemonTable/PokemonTable.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/pokebase/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/pokebase/favicon.svg" />
		<link rel="shortcut icon" href="/pokebase/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/pokebase/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Pokebase" />
		<link rel="manifest" href="/pokebase/site.webmanifest" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Asaldanam's Pokebase</title>
	</head>
	<body style="height: 100vh; margin: 0; overflow: hidden;">
		<PokemonTable />
	</body>
</html>
