---
import PokemonTable from '@components/PokemonTable/PokemonTable.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body style="height: 100vh; margin: 0; overflow: hidden;">
		<PokemonTable />
	</body>
</html>
