---
// Componente para la tabla de Pokemon usando AG Grid
---

<div id="PokemonTable" style="height: 100%; width: 100%;"></div>

<script>
	import { AdvancedFilterModule, MultiFilterModule, SetFilterModule, TreeDataModule } from '@lib/ag-grid-enterprise';
	import {
		ClientSideRowModelModule,
		createGrid,
		DateFilterModule,
		ModuleRegistry,
		NumberFilterModule,
		TextFilterModule,
		ValidationModule
	} from 'ag-grid-community';
	import { createPokemonTableCols } from './PokemonTable.cols';
	import { getPokemonTableData } from './PokemonTable.data';
	import { createPokemonTableTheme } from './PokemonTable.theme';

	if (typeof window !== 'undefined') {
		ModuleRegistry.registerModules([
			ClientSideRowModelModule,
			TreeDataModule,
			AdvancedFilterModule,
			MultiFilterModule,
			SetFilterModule,
			TextFilterModule,
			NumberFilterModule,
			DateFilterModule,
			...(process.env.NODE_ENV !== 'production' ? [ValidationModule] : [])
		]);

		const lang = navigator.language.split('-')[0] || 'en';

		const { rows, stats, types } = await getPokemonTableData({ lang });

		const grid = createGrid(document.querySelector('#PokemonTable') as HTMLElement, {
			columnDefs: createPokemonTableCols({ lang, stats, types }),
			defaultColDef: { flex: 1 },
			rowHeight: 52,
			headerHeight: 36,
			rowData: rows,
			theme: createPokemonTableTheme({ mode: 'light' }),
			groupDefaultExpanded: -1
			// enableAdvancedFilter: true
			// treeData: true,
			// getDataPath: (data) => data.path
		});

		// Escuchar cambios en el tema del sistema
		window
			.matchMedia('(prefers-color-scheme: dark)')
			.addEventListener('change', (e: MediaQueryListEvent | MediaQueryList) => {
				const mode = e.matches ? 'dark' : 'light';
				grid.setGridOption('theme', createPokemonTableTheme({ mode }));
			});
	}
</script>

<style is:global>
	.ag-watermark *,
	.ag-watermark::before {
		display: none !important;
		visibility: hidden !important;
		opacity: 0 !important;
	}

	.ag-cell {
		/* --ag-border-color: #f2f5f8;
		border-left: 1px solid var(--ag-border-color);
		border-bottom: 1px solid var(--ag-border-color); */
	}
</style>
